.div__container {
  color: white;
  background-color: #0a0d0e;
  margin-left: 19rem;
  position: absolute;
  margin-top: 7rem;
  height: 30rem;
  width: 70%;
}
.videos__emplacement {
  width: 12rem;
  height: 11rem;
  background-color: #424242;
  display: block;
  overflow-y: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  box-sizing: border-box;
  
  /* overflow-wrap: break-word; */
}
.videos__emplacement :hover {
  
}
.title__video {
  color: white;
  margin-right: 30px;
  font-size: 15px;
  overflow:hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin: auto;
  padding-right: 2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3rem;
  column-gap: 10px;
}
.img_logo {
  width: 240px;
  height: 150px;
}
.img_logo :hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
}
