.div__dashboard {
  color: white;
  width: 14%;
  background-color: #282626;
  height: 500px;
  position: absolute;
  margin-top: 130px;
  margin-left: 150px;
  position: fixed;
  text-align: center;
  vertical-align: middle;
}

.list__dashboard {
  display: grid;
  row-gap: 15px;
  text-align: center;
}
.container_list{
  text-align: center;

}
.side_list{
  background-color: #424242;
  padding: 10px;
  border-radius: 15px;
  height: 30px;
  }
.side_list:hover {
    background-color: black;
    color: white;
  }
.profil_img{
  width: 150%;
  height:70px;
  border-radius: 50px;
  margin-left: -15px;
  margin-right: px;
}
.btn_logout {
  height: 50px;
  margin-top: -5rem;
  position: absolute;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  width: 70%;
  margin-top: 3rem;
  margin-left: -3.5rem;
}
.btn_logout:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.link{
  width: 700vw;
}


@media screen and (max-width: 768px) {
  .div__dashboard {
    margin-left: 7%;
  }
}
