.div__nav {
  width: 73%;
  height: 80px;
  background-color: black;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  margin-left: 150px;
  display: flex;
  border-bottom: 2px solid rgb(136, 136, 143);
  border-left:2px solid rgb(136, 136, 143);
  border-right:2px solid rgb(136, 136, 143);
  position: fixed;
  z-index: 1;
}
.img__logo {
  width: 150px;
  height: 80px;
  margin-left: 10px;
}
ul {
  display: flex;
  list-style-type: none;
  margin: 10px;
  justify-content: right;
  margin-left: auto;
}
ul li {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 15px;
  font-size: 15px;
  color: white;
  margin-right: 20px;
}
ul li a {
  text-decoration: none;
  margin-top: 20px;
  color: white;
}
a :hover {
  background-color: #e0e0e0;
  color: black;
}
a :active {
  background-color: #e0e0e0;
  color: black;
}
.liste_nav {
  background-color: #424242;
  text-decoration: none;
  padding: 10px;
  margin-left: -0px;
  border-radius: 15px;
}

@media screen and (max-width: 425px) {
  .div__nav {
    width: 20%;
  } 

}
