.navHumburger{
    width: 200px;
    height: 200px;
    background-color: white;
    color: red;
}

@media screen and (max-width: 600px) {
    .navHumburger{
        /* margin-top: 4rem; */
        position: fixed;
        margin-left:rem;
        width: 185px;
        height: 200px;
        background-color: rgb(110, 108, 108);
        padding-top: 10px;
        border-radius: 10px;
    }
    
}
