.header {
  height: 100px;
  /* justify-content: space-between; */
  background-color: black;
  border-bottom: 1px solid #7b7575;
  border-left: 1px solid #7b7575;
  border-right: 1px solid #7b7575;
  /* position: fixed; */
}
.profil_img_nav{
  display: none;
}
  .img__logo {
    width: 150px;
    height: 80px;
    margin-left: -5rem;
    /* left: -rem; */
  }

  .invisible {
  display: none;
}
.liste_nav {
  background-color: #424242;
  text-decoration: none;
  padding: 10px;
  margin-left: -0px;
  border-radius: 15px;
}

@media only screen and (max-width: 600px) {
  .header {
    height: 85px;
  }
  .img__logo {
    margin-left: -1rem;
    width: 110px;
    height: 60px;
    margin-top: 10px;
  }
}
