.div__container {
  background-color: #0a0d0e;
  margin-left: 19rem;
  position: absolute;
  margin-top: 7rem;
  height: 30rem;
  width: 70%;
  /* margin-bottom: 50px; */
}
.videos__emplacement {
  width: 12rem;
  height: 11rem;
  display: block;
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 40px;
  margin-top: -30px;
}
.title__video {
  color: white;
  margin-right: 30px;
  font-size: 15px;
  margin: auto;
  text-decoration: none;
}
.card_link{
  text-decoration: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 10px;
}
.img_video {
  width: 240px;
  height: 150px;
}
.img_logo :hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
}
