.cont_profil{
    width: 73%;
    background-color: #E7E7E7;
}
.profil_image{
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.profil_title{
    font-size: 30px;
    text-align: center;
}
.img_profil{
    max-width: 100%;
    height: 200px;
    margin-top: 40px;
    border-radius: 50%;
}
.appareil_photo{
    max-width: 100%;
    margin-left: 27%;
}
.button_appareil{
    align-items: center;
    justify-content: center;
    width: 70px;
}
.img_and_icon{
    text-align: center;
    width: 250px;
}
