form{
  width: 440px;
}

.Place_filter {
  color: white;
  margin-left: 19rem;
  position: absolute;
  margin-top: 7rem;
  height: 30rem;
  width: 70%;
}
.title__video {
  color: white;
  margin-right: 30px;
  font-size: 15px;
  /* overflow:hidden; */
  margin: auto;
  padding-right: 2rem;
}
.input_buton{
  display: grid;
  column-gap: 1px;
}
.input__search{
  width: 300px;
  height: 35px;
  /* margin-right: 5rem; */
  border: none;
  margin-top: 30px;
  text-decoration: none;
  outline: 0;
  border: none;
}
.button_search {
  background-color: white;
  height: 35px;
  width: 40px;
  /* position: absolute; */
  border: none;
  /* margin-top: 10px; */
  /* cursor: pointer; */
  /* left: 42rem; */
}

@media only screen and (max-width: 600px) {
    .input__search{
      width: 160px;
      height: 30px;
      margin-left: -2rem;
    }
    .button_search {
      height: 30px;
      width: 30px;
      margin-top: 10px;
    }
}
