.container_subscribe {
  background-color: #0a0d0e;
  /* color: white; */
  margin-left: 20rem;
  position: absolute;
  margin-top: 7rem;
  height: 30rem;
  width: 70%;
}
.videos__emplacement {
  width: 12rem;
  height: 11rem;
  border: 2px solid white;
  display: block;
  border-radius: 10px;
}
.channel_name {
  color: white;
  margin-right: 30px;
  font-size: 15px;
  margin: auto;
  background-color: red;
}
