.container_subscribe {
  color: white;
  margin-left: 20rem;
  position: absolute;
  margin-top: 7rem;
  height: 30rem;
  width: 37.5rem;
}
.videos__emplacement {
  width: 12rem;
  height: 11rem;
  background-color: #424242;
  display: block;
  overflow-y: hidden;
}
.title__video {
  color: white;
  margin-right: 30px;
  font-size: 15px;
  /* overflow:hidden; */
  margin: auto;
  padding-right: 2rem;
}
