.div_watch_sub {
  color: white;
  margin-left: 19rem;
  position: absolute;
  margin-top: 7rem;
  height: 30rem;
  width: 70%;
}
.title{
  color: white;
  margin-right: 30px;
  font-size: 15px;
  margin: auto;
  padding-right: 2rem;
}
.videos__emplacement {
    width: 12rem;
    height: 12rem;
    display: block;
    border-radius: 10px;
    margin-bottom: 40px;
    background-color: #424242;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  /* width: 12rem;
  height: 12rem;
  display: block;
  border-radius: 10px; */

.img_video {
  /* max-width: 100%; */
}
.img_video{
  width: 12rem;
  /* max-width: 100%; */
}
.title__video {
  color: white;
  margin-right: 30px;
  font-size: 15px;
  margin: auto;
  text-decoration: none;
}


@media screen and (max-width: 600px) {
  .videos__emplacement{
    width: 22rem;
    height: 14rem;
  }
  .img_video {
    /* max-width: 100%; */
    width: 22rem;
    height: 10rem;
  }
}