.div__lecture {
  color: white;
  background-color: #0a0d0e;
  margin-left: 21rem;
  position: absolute;
  margin-top: 6rem;
  height: 400px;
  width:650px ;
}
.watch {
  width: 30rem;
  height: 10rem;
}

